---
layout: boilerplate
---

<header class="cover">

    {% include nav.html %}

        <h1 class="cover-title title-dark">Frequently Asked Questions</h1>

</header>

<section class="container section-left">
    <div class="container-content">
        <center><p><h1>Ozon (operating system)</h1></p></center><br>
	<p><h3>What Linux distribution does Ozon OS use as a base?</h3>
	Linux From Scratch, of course! Ok, ok, we kid - we use <a href="https://getfedora.org/">Fedora 21</a> as a solid base for our distribution.</p>

 	<p><h3>Why is it not based on Ubuntu, Arch, etc?</h3></p>
	Because Jakub Steiner threatened to lock us in a broom closet until we learn to be as good as he is at Blender unless we use Fedora. Nah, it wasn't that. Fedora is simply an amazing base if one is going to be building on top of the GNOME Stack and with Ozon we do just that. Every distribution has pros and cons, but for our case we firmly believe Fedora is the best choice.

	<p><h3>Why Fedora when it has poor font rendering, driver support and media codecs?</h3></p>
	Regarding font rendering, while it's true that it's an area Fedora is known to have problems with, Ozon will ship with <a href="http://freetype.org/">FreeType</a> and our own custom wizardry to remedy this. As for drivers we will do our best to offer a simple and straightforward way to install Vendor Drivers in future versions of Ozon. We've also added pre-installed codecs to cover a wide variety of video and audio format so you will be able to watch movies and listen to music out of the box.

	<p><h3>What default apps does Ozon ship with?</h3></p>
	We debated long and hard over this, but finally came up with <a href="https://github.com/ozonos/ozon-wiki/wiki/Default-Applications">this list</a> of pre-installed applications.

You might notice that a few of the usuals such as an email client and office suite are missing. That's because we don't believe an OS should come with more pre-installed apps than needed. If you are looking for additional apps you can find anything your heart desires via 'Software'.

But wait, there's more! In the final release we will have a application that will offer you an even easier way to install the most common software out there.

	<p><h3>What's your release schedule?</h3></p>
	Ozon follows the "When It's Ready" agenda, so we're not working on a given deadline. We're only a small team haven't the resources to full time on Ozon. If we set a release date and we can't keep it we're putting an unmanageable amount of pressure onto ourselves, but even worse we'd be letting our users down.

	<p> </p>
	<p> </p>

	<br><center><p><h1>Atom ES (desktop shell)</h1></p></center><br>

	<p><h3>Isn't Ozon just a bunch of Gnome Themes?</h3></p>
	No. Ozon is not definitely not just merely a bunch of themes. This is one completely false statement. Ozon Beta also feature gnome-shell extensions and a set carefully picked default apps and wallpapers. This makes the Ozon Beta an entire custom build desktop shell on top of Gnome.

	<p><h3>Why create an entirely new OS, why not just the desktop shell you mentioned above?</h3></p>
	Correct, we did mention that Ozon's beta is a desktop shell on top of Gnome-Shell, the Ozon final will feature gaming optimisations and a post install utility applications. This justifis the creation of an entire distribution. However if that is not enough reason for you, we've two more:
<ul>
<li>A full fledged distro gains more tractions and gains it faster than just a desktop shell.</li>
<li>We are planning to sell Ozon hardware too and for that we need an entire OS.</li>
</ul>
	<p><h3>Is Atom a fork of Gnome?</h3></p>
	No, it is not. Open source is already balkanised enough without us forking a major software stack like Gnome.

	<p><h3>Why are you using GNOME as a base?</h3></p>
	Because we believe Gnome makes high quality open source software when it comes both design and code.

	<p><h3>Does this mean I'll be able to use Atom on other operating systems?</p></h3>
	¡Sí Señor!, you will be. Just give us some time to whip up repositories for other distros too.

	<p> </p>
	<p> </p>

	<br><center><p><h1>Development</h1></p></center><br>

	<p><h3>Where is the source code hosted?</h3></p>
	All the source code for Ozon is maintained on our <a href="https://github.com/ozonos/">GitHub page</a>.

	<p><h3>Why is it not on <a href="http://launchpad.net/">Launchpad</a>?</p></h3>
	GitHub is more popular than Launchpad, and it's also more accessible to new users. The developers on our team also prefer <i>git</i> to <i>bzr</i>, the former of which Launchpad doesn't support.

	<p><h3>How do I get involved contributing code?</h3></p>
	You wanna help us? Ace! If there's a specific issue which you have in mind just submit a pull request and after it has been checked over we'll merge it in. If you want to get involved with more general development just shoot us an email on <a href="mailto: ozonosproject@gmail.com?Subject=Applying for Ozon developer" target="_blank"> ozonosproject@gmail.com</a> with subject "Applying for Ozon developer" and we will talk from there.
	<p><h3>How do I get involved contributing artwork?</h3></p>
	This depends on what type of artwork you want to contribute - icons or wallpapers. If you want to do icons, <a href="https://github.com/ozonos/ozon-icon-theme#user-contributions">read this</a>. If you want to contribute wallpapers, <a href="https://www.flickr.com/groups/2722613@N23/rules/">read this</a> and then submit them to <a href="https://www.flickr.com/groups/2722613@N23">this flickr group</a>.
	
	<p> </p>
	<p> </p>

	<br><center><p><h1>Hardware</h1></p></center><br>
	
	<p><h3>Can I use Ozon in Virtual Box?</h3></p>
	As of Ozon OS Beta it's not possible to use the OS in Virtualbox. This is because of a bug with the Gnome Shell extension <i>user-themes</i> crashing when any theme but the default is selected. Therefore the OS will likely crash due to Ozon using a custom theme.

	<p><h3>Can I install Ozon using CD/DVD/USB?</h3></p>
	Ozon can't be installed on CDs because it is too big, but it's still smaller than Fedora. However you can install it from DVD or USB perfectly fine.

	<p> </p>
	<p> </p>

	<br><center><p><h1>Other</h1></p></center><br>

	<p><h3>Why isn't this called Numix OS?</h3></p>
	Ozon is a joint project between <a href="https://numixproject.org/">Numix</a> and <a href="http://nitrux.in/">Nitrux</a>.
	
	<p><h3>Where did the naming schemes come from? Why is Ozone spelled wrong?</h3></p>
	Because of branding reasons. "Ozone" is more recognisable as the chemical compound that consists of 3 oxygen atoms connected in the following way: ... wait, we shouldn't confuse you with chemistry information. Now us continue. However "Ozon" can be much more recognisable as something else - in our case - a Linux distribution. Once upon a time when we were deciding about the distro and desktop shell name we narrowed it down to two possibilities. Possibility 1 "Ozon OS" with "Atom ES" desktop shell and OS version 1 - "Hydrogen", 2 - "Helium", 3 "Lithium" and so on and so forth, you know how the periodic table goes. Possibility 2 - "Asgard OS", with "Valhalla" desktop shell and version named after Norse gods. Possibility 1 won and as wise people say ... the rest is history.

	<p></h3>Is this a continuation of <a href="https://en.wikipedia.org/wiki/Fuduntu">Fuduntu</a>?</h3></p>
	No, it is not. While there are similarities between the two, the development teams are completely different and we have a completely different vision for what we want our OS to be.

    </div>
</section>

{% include footer.html %}
