---
layout: boilerplate
---

<header class="cover">

    {% include nav.html %}

    {% if site.tagline %}
        <h1 class="cover-title title">{{ site.tagline }}</h1>
    {% endif %}

    <a href="#" class="cover-video">
        <img class="cover-video-tablet" src="./assets/tablet.png">
    </a>
</header>

<section class="container section-centered">
    <div class="container-content">
        <a id="button-download" class="button button-download">
            <svg class="button-download-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                    <g fill="#fff">
                        <path d="M12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12s5.373 12 12 12zm0-2c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"/>
                        <path d="M14 14V6.01C14 4.9 13.105 4 12 4c-1.112 0-2 .9-2 2.01V14H7l5 6 5-6h-3z"/>
                    </g>
                </g>
            </svg>
            Get Ozon OS beta
        </a>
        <div class="button-download-info">
            <a class="button-download-info-item" href="./wip.html">System requirements</a>
            <span class="button-download-info-dot"></span>
            <a class="button-download-info-item" href="./wip.html">Installation instructions</a>
        </div>
    </div>
</section>

<section class="container section-centered">
    <div class="container-content row">
        <div class="col small-12 medium-6 large-4">
            <h2>Simply beautiful</h2>
            <img class="feat-image" src="./assets/feat-beautiful.png" alt="Beautiful">
            <p>Atom, the desktop environment of Ozon, is designed to not get into your way and and be simple, sleek and modern while focusing on helping you to get stuff done quickly.</p>
        </div>
        <div class="col small-12 medium-6 large-4">
            <h2>Gaming ready</h2>
            <img class="feat-image" src="./assets/feat-gaming.png" alt="Gaming">
            <p>Ozon comes with performance optimisations as well as easy way to install video drivers and gaming platforms, so you will be able to play plenty of games with ease.</p>
        </div>
        <div class="col small-12 medium-6 large-4">
            <h2>Open source</h2>
            <img class="feat-image" src="./assets/feat-open.png" alt="Open">
            <p>We strongly believe in open source and hence we've made Ozon completely open source. You can <a href="https://github.com/{{ site.github_username }}" target="_blank">find the source on GitHub</a>, contribute to it or fork it for your own needs.</p>
        </div>
    </div>
</section>

<section class="container section-centered">
    <div class="container-content collab">
        <h2>Ozon is a collaboration between</h2>
        <a class="collab-item collab-logo" href="http://nitrux.in" target="_blank"><img src="./assets/logo-nitrux.png" alt="Nitrux"></a>
        <span class="collab-item collab-separator" class="and">&</span>
        <a class="collab-item collab-logo" href="http://numixproject.org" target="_blank"><img src="./assets/logo-numix.png" alt="Numix"></a>
    </div>
</section>

{% include footer.html %}

<script id="warning-dialog-content" type="text/template">
    <div class="warning-dialog">
        <h1>Downloading beta software!</h1>
        <p>You're about to download the BETA version of Ozon OS. This means that the OS will be incomplete and there will be bugs. We are not to be held responsible if using Ozon Beta results in you being teleported on an unknown island, on which you will have to become modern day Robinson Crusoe to survive.</p>
        <p class="warning-dialog-buttons-area">
            <a class="button secondary modal-remove">I shall wait</a>
            <a class="button modal-remove">I'll take my chances</a>
        </p>
    </div>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.js"></script>
<script src="./lace/src/js/jquery.lace.js"></script>
<script src="./lace/src/js/jquery.modal.js"></script>
<script src="./js/main.js"></script>
