---
layout: boilerplate
---

<header class="cover">

    {% include nav.html %}

    {% if site.tagline %}
        <h1 class="cover-title title">{{ site.tagline }}</h1>
    {% endif %}

    <div class="cover-video"></div>
</header>

<section class="container section-centered">
    <div class="container-content">
        <a class="button-download">Get Ozon OS beta</a>
        <div class="button-download-info">
            <a class="button-download-info-item" href="./wip.html">System requirements</a>
            <span class="button-download-info-dot"></span>
            <a class="button-download-info-item" href="./wip.html">Installation instructions</a>
        </div>
    </div>
</section>

<section class="container section-centered">
    <div class="container-content row">
        <div class="col small-12 medium-6 large-4">
            <h2>Simply beautiful</h2>
            <img class="feat-image" src="./assets/feat-beautiful.png" alt="Beautiful">
            <p>Atom, the desktop environment of Ozon is designed to not get into your way and and be simple, sleek and modern and focused on helping you get stuff done as fast as possible.</p>
        </div>
        <div class="col small-12 medium-6 large-4">
            <h2>Gaming ready</h2>
            <img class="feat-image" src="./assets/feat-stable.png" alt="Stable">
            <p>If you're one of the folks that want to game on Linux, Ozon is the distro for you. It comes with performance optimisations and easy way to install video drivers and gaming platforms, so you will be able to play plenty of games with ease.</p>
        </div>
        <div class="col small-12 medium-6 large-4">
            <h2>Open source</h2>
            <img class="feat-image" src="./assets/feat-open.png" alt="Open">
            <p>We strongly believe in open source and for that reason we've made Ozon completely open source. You can find the source on <Github-link>, contribute to it or if you feel so inclined - fork it. We would really appreciate any sort of contributions.</p>
        </div>
    </div>
</section>

<section class="container section-centered">
    <div class="container-content collab">
        <h2>Ozon is a collaboration between</h2>
        <a class="collab-item collab-logo" href="http://nitrux.in" target="_blank"><img src="./assets/logo-nitrux.png" alt="Nitrux"></a>
        <span class="collab-item collab-separator" class="and">&</span>
        <a class="collab-item collab-logo" href="http://numixproject.org" target="_blank"><img src="./assets/logo-numix.png" alt="Numix"></a>
    </div>
</section>

{% include footer.html %}
