body {
    color: #f9f9f9;
    font-family: trebuchet, arial, sans-sherif;
    background-color: #333333;
    margin-top: 15%;
}

h1 {
    color: #f9f9f9;
    font-variant: normal;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

h2 {
    color: #f9f9f9;
    font-variant: normal;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #f9f9f9;
    font-variant: normal;
    font-weight: bold;
    text-align: center;
}

a:hover {
    color: #FF0066;
}
