<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title | prepend: ' - ' | prepend: site.tagline }}{% endif %}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.image | prepend: site.url }}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title | prepend: ' - ' | prepend: site.tagline }}{% endif %}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.image | prepend: site.url }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title | prepend: ' - ' | prepend: site.tagline }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="image_src" href="{{ site.image | prepend: site.url }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | prepend: site.baseurl }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/favicon/apple-touch-icon-57x57.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/favicon/apple-touch-icon-60x60.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/favicon/apple-touch-icon-72x72.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/favicon/apple-touch-icon-76x76.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/favicon/apple-touch-icon-114x114.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/favicon/apple-touch-icon-120x120.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/favicon/apple-touch-icon-144x144.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/favicon/apple-touch-icon-152x152.png' | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/favicon/apple-touch-icon-180x180.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-32x32.png' | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/favicon/android-chrome-192x192.png' | prepend: site.baseurl }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-96x96.png' | prepend: site.baseurl }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ '/favicon/favicon-16x16.png' | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{ '/favicon/manifest.json' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ '/favicon/favicon.ico' | prepend: site.baseurl }}">

    <meta name="theme-color" content="#9575cd">

    <link rel="stylesheet" type="text/css"  media="screen" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/main.css'  | prepend: site.baseurl  }}">

    <!-- enable HTML5 in IE, we need to place it before body -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script>window.html5 || document.write('<script src="s/scripts/lib/html5shiv.min.js"><\/script>')</script>
    <![endif]-->
</head>
