@import "../lace/src/scss/base";
@import "../lace/src/scss/grid";
@import "../lace/src/scss/animations";
@import "../lace/src/scss/dropshadow";
@import "../lace/src/scss/modal";

// scss-lint:disable DuplicateProperty


// Initialize the grid
@include grid($block-size: 10em, $columns: 12, $gutter: 1.5em);


// Styles
html, body { height: 100%; }

.title {
    font-size: 3em;
    font-weight: 200;
}

.cover {
    $video-height: 240px;
    $video-width: 360px;

    background-image: -moz-linear-gradient(-45deg, rgba(159, 101, 226, .90) 0%, rgba(10, 260, 162, .90) 100%), url("../assets/cover.png"); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(159, 101, 226, .90)), color-stop(100%, rgba(10, 260, 162, .90))), url("../assets/cover.png"); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(-45deg, rgba(159, 101, 226, .90) 0%, rgba(10, 260, 162, .90) 100%), url("../assets/cover.png"); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(-45deg, rgba(159, 101, 226, .90) 0%, rgba(10, 260, 162, .90) 100%), url("../assets/cover.png"); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(-45deg, rgba(159, 101, 226, .90) 0%, rgba(10, 260, 162, .90) 100%), url("../assets/cover.png"); /* IE10+ */
    background-image: linear-gradient(135deg, rgba(159, 101, 226, .90) 0%, rgba(10, 260, 162, .90) 100%), url("../assets/cover.png"); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f65e2b5', endColorstr='#0affa2b5', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    text-align: center;
    color: $light-color;
    box-shadow: inset 0 -.5px 1.5px rgba(0, 0, 0, .3);
    margin-bottom: $video-height / 2;

    &-title {
        position: relative;
        bottom: $video-height / -2;
        margin-bottom: 1em;
    }

    &-video-tablet {
        @include dropshadow(3);

        position: relative;
        bottom: $video-height / -2;
        width: $video-width;
        height: auto;
        max-height: $video-height;
        max-width: 80%;
        margin: auto;
        border-radius: $roundness;
        cursor: pointer;
    }
}


.nav {
    @extend %clearfix;

    padding: 1em 1.5em;

    a { border: 0; }

    &-menu {
        display: none;

        @media #{$mobile-break-point} {
            display: block;
            float: right;
            padding: .5em 1em;
            opacity: .8;

            &:focus, &:hover, &:active { opacity: 1; }
        }
    }

    &-left {
        margin: 0;
        list-style: none;
        float: left;
    }

    &-right {
        margin: 0;
        list-style: none;
        float: right;
    }

    &-item {
        display: inline-block;

        a {
            display: inline-block;
            padding: 1em;
            color: currentColor;

            opacity: .8;

            &:focus, &:hover, &:active { opacity: 1; }
        }
    }

    @media #{$mobile-break-point} {
        .nav {
            &-right {
                @include transition;

                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 3em;
                right: 0;
                margin: 1em;
                background-color: rgba(0, 0, 0, .9);
                z-index: 1;
                border-radius: $roundness;
            }

            &-item {
                @include transition;

                display: block;

                &:focus, &:hover { background-color: rgba(255, 255, 255, .1); }

                &:active { background-color: rgba(255, 255, 255, .2); }

                a { padding: 1.5em; }
            }
        }

        &-open {
            .nav-right {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

.container {
    border-bottom: 1px solid darken($light-color, 5%);

    &-content {
        padding: 4em 1em;
        max-width: 60em;
        margin: auto;
    }
}

.section-centered { text-align: center; }

.section-middle {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;

    &-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.button-download {
    @include dropshadow(1);

    margin: .67em;
    font-size: 1.5em;
    font-weight: 400;
    text-transform: none;

    &:focus, &:hover { @include dropshadow(2); }

    &-icon {
        vertical-align: -5px;
        margin-right: .5em;
    }

    &-info {
        opacity: .8;

        &-dot:before {
            vertical-align: -.1375em;
            font-size: 2em;
            content: "\00b7";
        }

        &-item {
            display: inline-block;
            margin: .5em;
            color: currentColor;
            opacity: .6;

            &:focus, &:hover, &:active {
                color: currentColor;
                opacity: 1;
            }
        }
    }
}

.feat-image {
    margin: 1.5em 0;
    border-radius: $roundness;
}

.lightbox-dialog { padding: 0; }

.warning-dialog {
    @extend %clearfix;

    max-width: 30em;

    &-buttons-area { float: right; }

    .button { margin-left: 1em; }
}

.collab {
    a { border: 0; }

    &-item {
        display: inline-block;
        height: 64px;
        line-height: 64px;
        vertical-align: middle;
    }

    &-logo {
        padding: 0;
        opacity: .8;

        &:focus, &:hover, &:active { opacity: 1; }
    }

    &-separator {
        padding: 0 1em;
        opacity: .5;
        font-weight: 700;

        @media #{$mobile-break-point} {
            display: block;
            height: auto;
        }
    }
}

.footer {
    a { border: 0; }

    opacity: .8;
    padding: 1em;
    text-align: center;

    &-social {
        &-item {
            display: inline-block;
            padding: 1em .5em;
        }
    }
}
