@import "../lace/src/scss/base";
@import "../lace/src/scss/grid";
@import "../lace/src/scss/animations";
@import "../lace/src/scss/dropshadow";
@import "../lace/src/scss/modal";

// scss-lint:disable DuplicateProperty


// Initialize the grid
@include grid($block-size: 10em, $columns: 12, $gutter: 1.5em);


// Styles
html, body { height: 100%; }

.title {
    font-size: 3em;
    font-weight: 200;
}

.cover {
    background-image: -moz-linear-gradient(-45deg, rgba(159, 101, 226, .9) 0%, rgba(10, 260, 162, .9) 100%), url("../assets/images/cover.png"); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(159, 101, 226, .9)), color-stop(100%, rgba(10, 260, 162, .9))), url("../assets/images/cover.png"); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(-45deg, rgba(159, 101, 226, .9) 0%, rgba(10, 260, 162, .9) 100%), url("../assets/images/cover.png"); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(-45deg, rgba(159, 101, 226, .9) 0%, rgba(10, 260, 162, .9) 100%), url("../assets/images/cover.png"); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(-45deg, rgba(159, 101, 226, .9) 0%, rgba(10, 260, 162, .9) 100%), url("../assets/images/cover.png"); /* IE10+ */
    background-image: linear-gradient(135deg, rgba(159, 101, 226, .9) 0%, rgba(10, 260, 162, .9) 100%), url("../assets/images/cover.png"); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f65e2b5', endColorstr='#0affa2b5', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    text-align: center;
    color: $light-color;
    box-shadow: inset 0 -.5px 1.5px rgba(0, 0, 0, .3);
    margin-bottom: 120px;

    &-title {
        position: relative;
        bottom: 50px;
        margin-bottom: -3em;
    }
}


.nav {
    @extend %clearfix;

    padding: 1em 1.5em;

    a { border: 0; }

    &-left {
        margin: 0;
        list-style: none;
        float: left;
    }

    &-item {
        display: inline-block;

        a {
            display: inline-block;
            padding: 1em;
            color: currentColor;

            opacity: .8;

            &:focus, &:hover, &:active { opacity: 1; }
        }
    }

    @media #{$mobile-break-point} {
        .nav-item {
            @include transition;

            display: block;

            &:focus, &:hover { background-color: rgba(255, 255, 255, .1); }

            &:active { background-color: rgba(255, 255, 255, .2); }

            a { padding: 1.5em; }
        }
    }
}

.container {
    border-bottom: 1px solid darken($light-color, 5%);

    &-content {
        padding: 4em 1em;
        max-width: 60em;
        margin: auto;
    }
}

.section-centered { text-align: center; }

.section-middle {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;

    &-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.modal { width: 25em; }

.footer {
    opacity: .8;
    padding: 1em;
    text-align: center;

    a { border: 0; }
}

// Responsive utilities

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 479px) {
    .display-sm-block {
        display: block;
    }
}
